.forge-container {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.forge-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.forge-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.forge-container3 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.forge-container4 {
  flex: 1;
  width: 220px;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-theme-secondary2);
}
.forge-text001 {
  fill: var(--dl-color-red-sb_red);
  color: var(--dl-color-red-sb_red);
  display: inline-block;
  font-style: normal;
  line-height: 1.15;
  margin-left: var(--dl-space-space-quarterunit);
  text-transform: none;
  text-decoration: none;
}
.forge-text004 {
  display: inline-block;
}
.forge-text005 {
  fill: var(--dl-color-red-sb_red);
  color: var(--dl-color-red-sb_red);
  display: inline-block;
  font-style: normal;
  line-height: 1.15;
  margin-left: var(--dl-space-space-quarterunit);
  text-transform: none;
  text-decoration: none;
}
.forge-text008 {
  display: inline-block;
}
.forge-text009 {
  display: inline-block;
}
.forge-text010 {
  fill: var(--dl-color-red-sb_red);
  color: var(--dl-color-red-sb_red);
  display: inline-block;
  font-style: normal;
  font-family: "Alegreya Sans SC";
  line-height: 1.15;
  margin-left: var(--dl-space-space-quarterunit);
  text-transform: none;
  text-decoration: none;
}
.forge-text013 {
  fill: var(--dl-color-red-sb_red);
  color: var(--dl-color-red-sb_red);
  display: inline-block;
  font-style: normal;
  line-height: 1.15;
  margin-left: var(--dl-space-space-quarterunit);
  text-transform: none;
  text-decoration: none;
}
.forge-container5 {
  flex: 3;
  display: flex;
  max-width: 800;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.forge-text016 {
  display: inline-block;
  margin-left: var(--dl-space-space-quarterunit);
}
.forge-text017 {
  display: inline-block;
  margin-left: var(--dl-space-space-quarterunit);
}
.forge-text018 {
  display: inline-block;
  margin-left: var(--dl-space-space-quarterunit);
}
.forge-text019 {
  display: inline-block;
  margin-left: var(--dl-space-space-quarterunit);
}
.forge-text020 {
  display: inline-block;
  margin-left: var(--dl-space-space-quarterunit);
}
.forge-text021 {
  display: inline-block;
  margin-left: var(--dl-space-space-quarterunit);
}
.forge-text022 {
  display: inline-block;
  margin-left: var(--dl-space-space-quarterunit);
}
.forge-text023 {
  display: inline-block;
  margin-left: var(--dl-space-space-quarterunit);
}
.forge-text024 {
  display: inline-block;
  margin-left: var(--dl-space-space-quarterunit);
}
.forge-text027 {
  display: inline-block;
  margin-left: var(--dl-space-space-quarterunit);
}
.forge-text028 {
  display: inline-block;
  margin-left: var(--dl-space-space-quarterunit);
}
.forge-text031 {
  display: inline-block;
  margin-left: var(--dl-space-space-quarterunit);
}
.forge-text034 {
  display: inline-block;
  margin-left: var(--dl-space-space-quarterunit);
}
.forge-text037 {
  display: inline-block;
  margin-left: var(--dl-space-space-quarterunit);
}
.forge-text038 {
  display: inline-block;
  margin-left: var(--dl-space-space-quarterunit);
}
.forge-text039 {
  display: inline-block;
  margin-left: var(--dl-space-space-quarterunit);
}
.forge-text040 {
  display: inline-block;
  margin-left: var(--dl-space-space-quarterunit);
}
.forge-text041 {
  display: inline-block;
  margin-left: var(--dl-space-space-quarterunit);
}
.forge-text042 {
  display: inline-block;
  margin-left: var(--dl-space-space-quarterunit);
}
.forge-text043 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
  font-size: 1em;
  font-style: normal;
  font-family: "Alegreya Sans SC";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.forge-text046 {
  fill: var(--dl-color-red-sb_lightgray);
  color: var(--dl-color-red-sb_lightgray);
  display: inline-block;
  font-size: 1em;
  font-style: normal;
  font-family: "Alegreya Sans SC";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.forge-text049 {
  fill: var(--dl-color-red-sb_lightgray);
  color: var(--dl-color-red-sb_lightgray);
  display: inline-block;
  font-size: 1em;
  font-style: normal;
  font-family: "Alegreya Sans SC";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.forge-text052 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
  font-size: 1em;
  font-style: normal;
  font-family: "Alegreya Sans SC";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.forge-text055 {
  fill: var(--dl-color-red-sb_lightgray);
  color: var(--dl-color-red-sb_lightgray);
  display: inline-block;
  font-size: 1em;
  font-style: normal;
  font-family: "Alegreya Sans SC";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.forge-text058 {
  fill: var(--dl-color-red-sb_lightgray);
  color: var(--dl-color-red-sb_lightgray);
  display: inline-block;
  font-size: 1em;
  font-style: normal;
  font-family: "Alegreya Sans SC";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.forge-text061 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
  font-size: 1em;
  font-style: normal;
  font-family: "Alegreya Sans SC";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.forge-text064 {
  fill: var(--dl-color-red-sb_lightgray);
  color: var(--dl-color-red-sb_lightgray);
  display: inline-block;
  font-size: 1em;
  font-style: normal;
  font-family: "Alegreya Sans SC";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.forge-text067 {
  fill: var(--dl-color-red-sb_lightgray);
  color: var(--dl-color-red-sb_lightgray);
  display: inline-block;
  font-size: 1em;
  font-style: normal;
  font-family: "Alegreya Sans SC";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.forge-text070 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
  font-size: 1em;
  font-style: normal;
  font-family: "Alegreya Sans SC";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.forge-text073 {
  fill: var(--dl-color-red-sb_lightgray);
  color: var(--dl-color-red-sb_lightgray);
  display: inline-block;
  font-size: 1em;
  font-style: normal;
  font-family: "Alegreya Sans SC";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.forge-text076 {
  fill: var(--dl-color-red-sb_lightgray);
  color: var(--dl-color-red-sb_lightgray);
  display: inline-block;
  font-size: 1em;
  font-style: normal;
  font-family: "Alegreya Sans SC";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.forge-text079 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
  font-size: 1em;
  font-style: normal;
  font-family: "Alegreya Sans SC";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.forge-text082 {
  fill: var(--dl-color-red-sb_lightgray);
  color: var(--dl-color-red-sb_lightgray);
  display: inline-block;
  font-size: 1em;
  font-style: normal;
  font-family: "Alegreya Sans SC";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.forge-text085 {
  fill: var(--dl-color-red-sb_lightgray);
  color: var(--dl-color-red-sb_lightgray);
  display: inline-block;
  font-size: 1em;
  font-style: normal;
  font-family: "Alegreya Sans SC";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.forge-container6 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: space-between;
  flex-direction: column;
}
.forge-container7 {
  top: 0;
  flex: 2;
  height: 100%;
  display: flex;
  overflow: auto;
  position: sticky;
  align-self: stretch;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-start;
}
.forge-container8 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
}
.forge-text088 {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
  display: inline-block;
  font-size: 0.6em;
  font-family: "Montserrat";
}
.forge-text089 {
  font-style: normal;
  font-weight: 700;
}
.forge-text091 {
  fill: var(--dl-color-red-sb_gray);
  display: inline-block;
}
.forge-text092 {
  fill: var(--dl-color-theme-neutral-light);
  display: inline-block;
  font-size: 0.6em;
}
.forge-text093 {
  font-style: normal;
  font-weight: 700;
}
.forge-text095 {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
  display: inline-block;
  font-size: 0.6em;
  font-style: normal;
  font-family: "Montserrat";
  font-weight: 600;
}
.forge-text098 {
  color: var(--dl-color-red-sb_red);
  display: inline-block;
  text-align: left;
}
.forge-text101 {
  fill: var(--dl-color-red-sb_gray);
  color: var(--dl-color-red-sb_gray);
  display: inline-block;
  margin-top: var(--dl-space-space-quarterunit);
  margin-bottom: var(--dl-space-space-quarterunit);
}
.forge-text102 {
  fill: var(--dl-color-red-sb_red);
  color: var(--dl-color-red-sb_red);
  display: inline-block;
}
.forge-text103 {
  color: var(--dl-color-red-sb_red);
  display: inline-block;
  text-align: left;
}
.forge-text106 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
  margin-top: var(--dl-space-space-quarterunit);
}
.forge-text107 {
  font-style: italic;
  font-weight: 600;
}
.forge-text108 {
  font-style: normal;
  font-weight: 400;
}
.forge-text109 {
  fill: var(--dl-color-red-sb_red);
  color: var(--dl-color-red-sb_red);
  display: inline-block;
  text-align: left;
  margin-left: var(--dl-space-space-halfunit);
}
.forge-text110 {
  fill: var(--dl-color-red-sb_red);
  color: var(--dl-color-red-sb_red);
  display: inline-block;
}
.forge-text111 {
  fill: var(--dl-color-red-sb_red);
  color: var(--dl-color-red-sb_red);
  display: inline-block;
}
.forge-text112 {
  color: var(--dl-color-red-sb_red);
  display: inline-block;
  text-align: left;
}
.forge-text115 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
  margin-top: var(--dl-space-space-quarterunit);
}
.forge-text116 {
  font-style: italic;
  font-weight: 600;
}
.forge-text118 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
  margin-top: var(--dl-space-space-quarterunit);
}
.forge-text119 {
  font-style: italic;
  font-weight: 600;
}
.forge-text121 {
  font-style: italic;
  font-weight: 400;
}
.forge-text123 {
  font-style: italic;
  font-weight: 400;
}
.forge-text125 {
  fill: var(--dl-color-red-sb_red);
  color: var(--dl-color-red-sb_red);
  display: inline-block;
  text-align: left;
  margin-left: var(--dl-space-space-halfunit);
}
.forge-text126 {
  fill: var(--dl-color-red-sb_red);
  color: var(--dl-color-red-sb_red);
  display: inline-block;
  text-align: left;
  margin-left: var(--dl-space-space-halfunit);
}
.forge-text129 {
  fill: var(--dl-color-red-sb_red);
  color: var(--dl-color-red-sb_red);
  display: inline-block;
  text-align: left;
  margin-left: var(--dl-space-space-halfunit);
}
.forge-text132 {
  fill: var(--dl-color-red-sb_red);
  color: var(--dl-color-red-sb_red);
  display: inline-block;
}
.forge-text133 {
  fill: var(--dl-color-red-sb_red);
  color: var(--dl-color-red-sb_red);
  display: inline-block;
}
.forge-text134 {
  color: var(--dl-color-red-sb_red);
  display: inline-block;
  text-align: left;
}
.forge-text137 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
  margin-top: var(--dl-space-space-quarterunit);
}
.forge-text138 {
  font-style: italic;
  font-weight: 600;
}
.forge-text139 {
  font-style: normal;
  font-weight: 400;
}
.forge-text140 {
  font-style: italic;
  font-weight: 400;
}
.forge-text141 {
  font-style: normal;
  font-weight: 400;
}
.forge-text142 {
  font-style: italic;
  font-weight: 400;
}
.forge-text143 {
  font-style: normal;
  font-weight: 400;
}
.forge-text144 {
  fill: var(--dl-color-red-sb_red);
  color: var(--dl-color-red-sb_red);
  display: inline-block;
  text-align: left;
  margin-left: var(--dl-space-space-halfunit);
}
.forge-text145 {
  fill: var(--dl-color-red-sb_red);
  color: var(--dl-color-red-sb_red);
  display: inline-block;
  text-align: left;
  margin-left: var(--dl-space-space-halfunit);
}
.forge-text146 {
  fill: var(--dl-color-red-sb_red);
  color: var(--dl-color-red-sb_red);
  display: inline-block;
  text-align: left;
  margin-left: var(--dl-space-space-halfunit);
}
.forge-text147 {
  fill: var(--dl-color-red-sb_red);
  color: var(--dl-color-red-sb_red);
  display: inline-block;
}
.forge-text148 {
  fill: var(--dl-color-red-sb_red);
  color: var(--dl-color-red-sb_red);
  display: inline-block;
}
.forge-text149 {
  fill: var(--dl-color-red-sb_red);
  color: var(--dl-color-red-sb_red);
  display: inline-block;
}
.forge-text150 {
  fill: var(--dl-color-red-sb_red);
  color: var(--dl-color-red-sb_red);
  display: inline-block;
}
.forge-text151 {
  fill: var(--dl-color-red-sb_red);
  color: var(--dl-color-red-sb_red);
  display: inline-block;
  text-align: left;
  margin-left: var(--dl-space-space-halfunit);
}
.forge-text152 {
  fill: var(--dl-color-red-sb_red);
  color: var(--dl-color-red-sb_red);
  display: inline-block;
  text-align: left;
  margin-left: var(--dl-space-space-halfunit);
}
.forge-text153 {
  fill: var(--dl-color-red-sb_red);
  color: var(--dl-color-red-sb_red);
  display: inline-block;
  text-align: left;
  margin-left: var(--dl-space-space-halfunit);
}
.forge-text154 {
  fill: var(--dl-color-red-sb_red);
  color: var(--dl-color-red-sb_red);
  display: inline-block;
  text-align: left;
  margin-left: var(--dl-space-space-halfunit);
}
.forge-text155 {
  fill: var(--dl-color-red-sb_red);
  color: var(--dl-color-red-sb_red);
  display: inline-block;
  text-align: left;
  margin-left: var(--dl-space-space-halfunit);
}
.forge-text156 {
  fill: var(--dl-color-red-sb_red);
  color: var(--dl-color-red-sb_red);
  display: inline-block;
}
.forge-text157 {
  fill: var(--dl-color-red-sb_red);
  color: var(--dl-color-red-sb_red);
  display: inline-block;
  text-align: left;
  margin-left: var(--dl-space-space-halfunit);
}
.forge-text158 {
  fill: var(--dl-color-red-sb_red);
  color: var(--dl-color-red-sb_red);
  display: inline-block;
  text-align: left;
  margin-left: var(--dl-space-space-halfunit);
}
.forge-text159 {
  display: inline-block;
  font-size: 3em;
  font-style: normal;
  font-family: "Bodoni Moda";
  font-weight: 800;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.forge-root-class-name {
  display: none;
}

