.form-container {
  height: 100%;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
}
.form-container01 {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.form-container02 {
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.form-container03 {
  width: 100%;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.form-textinput {
  fill: var(--dl-color-red-sb_red);
  color: var(--dl-color-red-sb_red);
  width: 100%;
  font-size: 1.2em;
  text-align: left;
  font-family: "Alegreya Sans SC";
  border-color: var(--dl-color-red-sb_red);
  border-style: solid;
  border-width: 0px;
  padding-left: var(--dl-space-space-quarterunit);
  border-radius: 0px;
  padding-right: var(--dl-space-space-quarterunit);
  border-bottom-width: 2px;
}
.form-container04 {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.form-container05 {
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.form-container06 {
  flex: 1;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.form-container07 {
  flex: 1;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.form-textinput01 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  border-color: var(--dl-color-red-sb_lightgray);
  border-style: solid;
  padding-left: var(--dl-space-space-quarterunit);
  padding-right: var(--dl-space-space-quarterunit);
}
.form-container08 {
  flex: 1;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.form-textinput02 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  border-color: var(--dl-color-red-sb_lightgray);
  border-style: solid;
  padding-left: var(--dl-space-space-quarterunit);
  padding-right: var(--dl-space-space-quarterunit);
}
.form-container09 {
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.form-container10 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.form-container11 {
  flex: 2;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.form-container12 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.form-textinput03 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 82px;
  border-color: var(--dl-color-red-sb_lightgray);
  border-style: solid;
  margin-right: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-quarterunit);
  padding-right: var(--dl-space-space-quarterunit);
}
.form-textinput04 {
  fill: var(--dl-color-theme-neutral-dark);
  flex: 1;
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  border-color: var(--dl-color-red-sb_lightgray);
  border-style: solid;
  margin-right: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-quarterunit);
  padding-right: var(--dl-space-space-quarterunit);
}
.form-container13 {
  flex: 1;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.form-container14 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.form-textinput05 {
  fill: var(--dl-color-theme-neutral-dark);
  flex: 1;
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  border-color: var(--dl-color-red-sb_lightgray);
  border-style: solid;
  margin-right: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-quarterunit);
  padding-right: var(--dl-space-space-quarterunit);
}
.form-container15 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.form-container16 {
  flex: 1;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.form-container17 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.form-textinput06 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 82px;
  border-color: var(--dl-color-red-sb_lightgray);
  border-style: solid;
  margin-right: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-quarterunit);
  padding-right: var(--dl-space-space-quarterunit);
}
.form-textinput07 {
  fill: var(--dl-color-theme-neutral-dark);
  flex: 1;
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  border-color: var(--dl-color-red-sb_lightgray);
  border-style: solid;
  margin-right: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-quarterunit);
  padding-right: var(--dl-space-space-quarterunit);
}
.form-container18 {
  flex: 1;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.form-container19 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.form-textinput08 {
  fill: var(--dl-color-theme-neutral-dark);
  flex: 1;
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  height: auto;
  border-color: var(--dl-color-red-sb_lightgray);
  border-style: solid;
  padding-left: var(--dl-space-space-quarterunit);
  padding-right: var(--dl-space-space-quarterunit);
}
.form-container20 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.form-text008 {
  display: inline-block;
  margin-left: var(--dl-space-space-quarterunit);
}
.form-text011 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
  font-size: 1em;
  font-style: normal;
  font-family: "Alegreya Sans SC";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.form-text014 {
  fill: var(--dl-color-red-sb_lightgray);
  color: var(--dl-color-red-sb_lightgray);
  display: inline-block;
  font-size: 1em;
  font-style: normal;
  font-family: "Alegreya Sans SC";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.form-text017 {
  fill: var(--dl-color-red-sb_lightgray);
  color: var(--dl-color-red-sb_lightgray);
  display: inline-block;
  font-size: 1em;
  font-style: normal;
  font-family: "Alegreya Sans SC";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.form-text020 {
  display: inline-block;
  margin-left: var(--dl-space-space-quarterunit);
}
.form-text023 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
  font-size: 1em;
  font-style: normal;
  font-family: "Alegreya Sans SC";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.form-text026 {
  fill: var(--dl-color-red-sb_lightgray);
  color: var(--dl-color-red-sb_lightgray);
  display: inline-block;
  font-size: 1em;
  font-style: normal;
  font-family: "Alegreya Sans SC";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.form-text029 {
  fill: var(--dl-color-red-sb_lightgray);
  color: var(--dl-color-red-sb_lightgray);
  display: inline-block;
  font-size: 1em;
  font-style: normal;
  font-family: "Alegreya Sans SC";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.form-text032 {
  display: inline-block;
  margin-left: var(--dl-space-space-quarterunit);
}
.form-text035 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
  font-size: 1em;
  font-style: normal;
  font-family: "Alegreya Sans SC";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.form-text038 {
  fill: var(--dl-color-red-sb_lightgray);
  color: var(--dl-color-red-sb_lightgray);
  display: inline-block;
  font-size: 1em;
  font-style: normal;
  font-family: "Alegreya Sans SC";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.form-text041 {
  fill: var(--dl-color-red-sb_lightgray);
  color: var(--dl-color-red-sb_lightgray);
  display: inline-block;
  font-size: 1em;
  font-style: normal;
  font-family: "Alegreya Sans SC";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.form-text044 {
  display: inline-block;
  margin-left: var(--dl-space-space-quarterunit);
}
.form-text047 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
  font-size: 1em;
  font-style: normal;
  font-family: "Alegreya Sans SC";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.form-text050 {
  fill: var(--dl-color-red-sb_lightgray);
  color: var(--dl-color-red-sb_lightgray);
  display: inline-block;
  font-size: 1em;
  font-style: normal;
  font-family: "Alegreya Sans SC";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.form-text053 {
  fill: var(--dl-color-red-sb_lightgray);
  color: var(--dl-color-red-sb_lightgray);
  display: inline-block;
  font-size: 1em;
  font-style: normal;
  font-family: "Alegreya Sans SC";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.form-text056 {
  display: inline-block;
  margin-left: var(--dl-space-space-quarterunit);
}
.form-text059 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
  font-size: 1em;
  font-style: normal;
  font-family: "Alegreya Sans SC";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.form-text062 {
  fill: var(--dl-color-red-sb_lightgray);
  color: var(--dl-color-red-sb_lightgray);
  display: inline-block;
  font-size: 1em;
  font-style: normal;
  font-family: "Alegreya Sans SC";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.form-text065 {
  fill: var(--dl-color-red-sb_lightgray);
  color: var(--dl-color-red-sb_lightgray);
  display: inline-block;
  font-size: 1em;
  font-style: normal;
  font-family: "Alegreya Sans SC";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.form-text068 {
  display: inline-block;
  margin-left: var(--dl-space-space-quarterunit);
}
.form-text071 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
  font-size: 1em;
  font-style: normal;
  font-family: "Alegreya Sans SC";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.form-text074 {
  fill: var(--dl-color-red-sb_lightgray);
  color: var(--dl-color-red-sb_lightgray);
  display: inline-block;
  font-size: 1em;
  font-style: normal;
  font-family: "Alegreya Sans SC";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.form-text077 {
  fill: var(--dl-color-red-sb_lightgray);
  color: var(--dl-color-red-sb_lightgray);
  display: inline-block;
  font-size: 1em;
  font-style: normal;
  font-family: "Alegreya Sans SC";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.form-container21 {
  margin: var(--dl-space-space-halfunit);
  display: none;
  align-self: flex-start;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  background-color: var(--dl-color-theme-secondary2);
}
.form-container22 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.form-container23 {
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: column;
}
.form-textinput09 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 48px;
  height: 35px;
  text-align: center;
  border-color: var(--dl-color-red-sb_lightgray);
  border-style: solid;
  padding-left: var(--dl-space-space-quarterunit);
  padding-right: var(--dl-space-space-quarterunit);
}
.form-container24 {
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: column;
}
.form-textinput10 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 48px;
  height: 35px;
  text-align: center;
  border-color: var(--dl-color-red-sb_lightgray);
  border-style: solid;
  padding-left: var(--dl-space-space-quarterunit);
  padding-right: var(--dl-space-space-quarterunit);
}
.form-container25 {
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: column;
}
.form-textinput11 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 48px;
  height: 35px;
  text-align: center;
  border-color: var(--dl-color-red-sb_lightgray);
  border-style: solid;
  padding-left: var(--dl-space-space-quarterunit);
  padding-right: var(--dl-space-space-quarterunit);
}
.form-container26 {
  margin: var(--dl-space-space-halfunit);
  display: none;
  align-self: flex-start;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  background-color: var(--dl-color-theme-secondary2);
}
.form-container27 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.form-container28 {
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: column;
}
.form-textinput12 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 48px;
  height: 35px;
  text-align: center;
  border-color: var(--dl-color-red-sb_lightgray);
  border-style: solid;
  padding-left: var(--dl-space-space-quarterunit);
  padding-right: var(--dl-space-space-quarterunit);
}
.form-container29 {
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: column;
}
.form-textinput13 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 48px;
  height: 35px;
  text-align: center;
  border-color: var(--dl-color-red-sb_lightgray);
  border-style: solid;
  padding-left: var(--dl-space-space-quarterunit);
  padding-right: var(--dl-space-space-quarterunit);
}
.form-container30 {
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: column;
}
.form-textinput14 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 48px;
  height: 35px;
  text-align: center;
  border-color: var(--dl-color-red-sb_lightgray);
  border-style: solid;
  padding-left: var(--dl-space-space-quarterunit);
  padding-right: var(--dl-space-space-quarterunit);
}
.form-container31 {
  margin: var(--dl-space-space-halfunit);
  display: none;
  flex-wrap: wrap;
  align-self: flex-start;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  background-color: var(--dl-color-theme-secondary2);
}
.form-container32 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.form-container33 {
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: column;
}
.form-textinput15 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 48px;
  height: 35px;
  text-align: center;
  border-color: var(--dl-color-red-sb_lightgray);
  border-style: solid;
  padding-left: var(--dl-space-space-quarterunit);
  padding-right: var(--dl-space-space-quarterunit);
}
.form-container34 {
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: column;
}
.form-textinput16 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 48px;
  height: 35px;
  text-align: center;
  border-color: var(--dl-color-red-sb_lightgray);
  border-style: solid;
  padding-left: var(--dl-space-space-quarterunit);
  padding-right: var(--dl-space-space-quarterunit);
}
.form-container35 {
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: column;
}
.form-textinput17 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 48px;
  height: 35px;
  text-align: center;
  border-color: var(--dl-color-red-sb_lightgray);
  border-style: solid;
  padding-left: var(--dl-space-space-quarterunit);
  padding-right: var(--dl-space-space-quarterunit);
}
.form-container36 {
  margin: var(--dl-space-space-halfunit);
  display: none;
  flex-wrap: wrap;
  align-self: flex-start;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  background-color: var(--dl-color-theme-secondary2);
}
.form-container37 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.form-container38 {
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: column;
}
.form-textinput18 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 48px;
  height: 35px;
  text-align: center;
  border-color: var(--dl-color-red-sb_lightgray);
  border-style: solid;
  padding-left: var(--dl-space-space-quarterunit);
  padding-right: var(--dl-space-space-quarterunit);
}
.form-container39 {
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: column;
}
.form-textinput19 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 48px;
  height: 35px;
  text-align: center;
  border-color: var(--dl-color-red-sb_lightgray);
  border-style: solid;
  padding-left: var(--dl-space-space-quarterunit);
  padding-right: var(--dl-space-space-quarterunit);
}
.form-container40 {
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: column;
}
.form-textinput20 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 48px;
  height: 35px;
  text-align: center;
  border-color: var(--dl-color-red-sb_lightgray);
  border-style: solid;
  padding-left: var(--dl-space-space-quarterunit);
  padding-right: var(--dl-space-space-quarterunit);
}
.form-container41 {
  margin: var(--dl-space-space-halfunit);
  display: none;
  flex-wrap: wrap;
  align-self: flex-start;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  background-color: var(--dl-color-theme-secondary2);
}
.form-container42 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.form-container43 {
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: column;
}
.form-textinput21 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 48px;
  height: 35px;
  text-align: center;
  border-color: var(--dl-color-red-sb_lightgray);
  border-style: solid;
  padding-left: var(--dl-space-space-quarterunit);
  padding-right: var(--dl-space-space-quarterunit);
}
.form-container44 {
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: column;
}
.form-textinput22 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 48px;
  height: 35px;
  text-align: center;
  border-color: var(--dl-color-red-sb_lightgray);
  border-style: solid;
  padding-left: var(--dl-space-space-quarterunit);
  padding-right: var(--dl-space-space-quarterunit);
}
.form-container45 {
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: column;
}
.form-textinput23 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 48px;
  height: 35px;
  text-align: center;
  border-color: var(--dl-color-red-sb_lightgray);
  border-style: solid;
  padding-left: var(--dl-space-space-quarterunit);
  padding-right: var(--dl-space-space-quarterunit);
}
.form-container46 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.form-container47 {
  flex: 1;
  width: 100%;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.form-container48 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.form-textinput24 {
  fill: var(--dl-color-theme-neutral-dark);
  flex: 1;
  color: var(--dl-color-theme-neutral-dark);
  width: auto;
  border-color: var(--dl-color-red-sb_lightgray);
  border-style: solid;
  margin-right: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-quarterunit);
  padding-right: var(--dl-space-space-quarterunit);
}
.form-container49 {
  flex: 1;
  width: 100%;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.form-container50 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.form-textinput25 {
  fill: var(--dl-color-theme-neutral-dark);
  flex: 1;
  color: var(--dl-color-theme-neutral-dark);
  width: auto;
  border-color: var(--dl-color-red-sb_lightgray);
  border-style: solid;
  padding-left: var(--dl-space-space-quarterunit);
  padding-right: var(--dl-space-space-quarterunit);
}
.form-container51 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.form-container52 {
  flex: 1;
  width: 100%;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.form-container53 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.form-textinput26 {
  fill: var(--dl-color-theme-neutral-dark);
  flex: 1;
  color: var(--dl-color-theme-neutral-dark);
  width: auto;
  border-color: var(--dl-color-red-sb_lightgray);
  border-style: solid;
  margin-right: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-quarterunit);
  padding-right: var(--dl-space-space-quarterunit);
}
.form-container54 {
  flex: 1;
  width: 100%;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.form-container55 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.form-textinput27 {
  fill: var(--dl-color-theme-neutral-dark);
  flex: 1;
  color: var(--dl-color-theme-neutral-dark);
  width: auto;
  border-color: var(--dl-color-red-sb_lightgray);
  border-style: solid;
  padding-left: var(--dl-space-space-quarterunit);
  padding-right: var(--dl-space-space-quarterunit);
}
.form-container56 {
  width: 100%;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.form-container57 {
  flex: 1;
  width: 100%;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.form-container58 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.form-textinput28 {
  fill: var(--dl-color-theme-neutral-dark);
  flex: 1;
  color: var(--dl-color-theme-neutral-dark);
  width: auto;
  border-color: var(--dl-color-red-sb_lightgray);
  border-style: solid;
  margin-right: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-quarterunit);
  padding-right: var(--dl-space-space-quarterunit);
}
.form-container59 {
  flex: 1;
  width: 100%;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.form-container60 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.form-textinput29 {
  fill: var(--dl-color-theme-neutral-dark);
  flex: 1;
  color: var(--dl-color-theme-neutral-dark);
  width: auto;
  border-color: var(--dl-color-red-sb_lightgray);
  border-style: solid;
  padding-left: var(--dl-space-space-quarterunit);
  padding-right: var(--dl-space-space-quarterunit);
}
.form-text106 {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
  width: auto;
  display: inline-block;
}
.form-text107 {
  display: inline-block;
  margin-left: var(--dl-space-space-quarterunit);
}
.form-text108 {
  display: inline-block;
  margin-left: var(--dl-space-space-quarterunit);
}
.form-text111 {
  fill: var(--dl-color-red-sb_red);
  color: var(--dl-color-red-sb_red);
  display: inline-block;
  font-style: normal;
  font-family: "Alegreya Sans SC";
  line-height: 1.15;
  margin-left: var(--dl-space-space-quarterunit);
  text-transform: none;
  text-decoration: none;
}
.form-text114 {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
  width: auto;
  display: inline-block;
}
.form-text115 {
  display: inline-block;
  margin-left: var(--dl-space-space-quarterunit);
}
.form-text116 {
  display: inline-block;
  margin-left: var(--dl-space-space-quarterunit);
}
.form-text119 {
  fill: var(--dl-color-red-sb_red);
  color: var(--dl-color-red-sb_red);
  display: inline-block;
  font-style: normal;
  font-family: "Alegreya Sans SC";
  line-height: 1.15;
  margin-left: var(--dl-space-space-quarterunit);
  text-transform: none;
  text-decoration: none;
}
.form-text122 {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
  width: auto;
  display: inline-block;
}
.form-text123 {
  display: inline-block;
  margin-left: var(--dl-space-space-quarterunit);
}
.form-text124 {
  display: inline-block;
  margin-left: var(--dl-space-space-quarterunit);
}
.form-text127 {
  fill: var(--dl-color-red-sb_red);
  color: var(--dl-color-red-sb_red);
  display: inline-block;
  font-style: normal;
  font-family: "Alegreya Sans SC";
  line-height: 1.15;
  margin-left: var(--dl-space-space-quarterunit);
  text-transform: none;
  text-decoration: none;
}
.form-text130 {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
  width: auto;
  display: inline-block;
}
.form-text131 {
  display: inline-block;
  margin-left: var(--dl-space-space-quarterunit);
}
.form-text132 {
  display: inline-block;
  margin-left: var(--dl-space-space-quarterunit);
}
.form-text135 {
  fill: var(--dl-color-red-sb_red);
  color: var(--dl-color-red-sb_red);
  display: inline-block;
  font-style: normal;
  font-family: "Alegreya Sans SC";
  line-height: 1.15;
  margin-left: var(--dl-space-space-quarterunit);
  text-transform: none;
  text-decoration: none;
}
.form-text138 {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
  width: auto;
  display: inline-block;
}
.form-text139 {
  display: inline-block;
  margin-left: var(--dl-space-space-quarterunit);
}
.form-text140 {
  display: inline-block;
  margin-left: var(--dl-space-space-quarterunit);
}
.form-text143 {
  fill: var(--dl-color-red-sb_red);
  color: var(--dl-color-red-sb_red);
  display: inline-block;
  font-style: normal;
  font-family: "Alegreya Sans SC";
  line-height: 1.15;
  margin-left: var(--dl-space-space-quarterunit);
  text-transform: none;
  text-decoration: none;
}
.form-text146 {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
  width: auto;
  display: inline-block;
}
.form-text147 {
  display: inline-block;
  margin-left: var(--dl-space-space-quarterunit);
}
.form-text148 {
  display: inline-block;
  margin-left: var(--dl-space-space-quarterunit);
}
.form-text151 {
  fill: var(--dl-color-red-sb_red);
  color: var(--dl-color-red-sb_red);
  display: inline-block;
  font-style: normal;
  font-family: "Alegreya Sans SC";
  line-height: 1.15;
  margin-left: var(--dl-space-space-quarterunit);
  text-transform: none;
  text-decoration: none;
}
.form-text154 {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
  width: auto;
  display: inline-block;
}
.form-text155 {
  display: inline-block;
  margin-left: var(--dl-space-space-quarterunit);
}
.form-text156 {
  display: inline-block;
  margin-left: var(--dl-space-space-quarterunit);
}
.form-text159 {
  fill: var(--dl-color-red-sb_red);
  color: var(--dl-color-red-sb_red);
  display: inline-block;
  font-style: normal;
  font-family: "Alegreya Sans SC";
  line-height: 1.15;
  margin-left: var(--dl-space-space-quarterunit);
  text-transform: none;
  text-decoration: none;
}
.form-text162 {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
  width: auto;
  display: inline-block;
}
.form-text163 {
  display: inline-block;
  margin-left: var(--dl-space-space-quarterunit);
}
.form-text164 {
  display: inline-block;
  margin-left: var(--dl-space-space-quarterunit);
}
.form-text167 {
  fill: var(--dl-color-red-sb_red);
  color: var(--dl-color-red-sb_red);
  display: inline-block;
  font-style: normal;
  font-family: "Alegreya Sans SC";
  line-height: 1.15;
  margin-left: var(--dl-space-space-quarterunit);
  text-transform: none;
  text-decoration: none;
}
.form-text170 {
  display: inline-block;
  margin-left: var(--dl-space-space-quarterunit);
}
.form-text171 {
  display: inline-block;
  margin-left: var(--dl-space-space-quarterunit);
}
.form-text174 {
  display: inline-block;
  margin-left: var(--dl-space-space-quarterunit);
}
.form-text175 {
  display: inline-block;
  margin-left: var(--dl-space-space-quarterunit);
}
.form-text176 {
  fill: var(--dl-color-red-sb_lightgray);
  color: var(--dl-color-red-sb_lightgray);
  display: inline-block;
  font-size: 1em;
  font-style: normal;
  font-family: "Alegreya Sans SC";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.form-text179 {
  display: inline-block;
  margin-left: var(--dl-space-space-quarterunit);
}
.form-text180 {
  fill: var(--dl-color-red-sb_lightgray);
  color: var(--dl-color-red-sb_lightgray);
  display: inline-block;
  font-size: 1em;
  font-style: normal;
  font-family: "Alegreya Sans SC";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.form-text183 {
  fill: var(--dl-color-red-sb_lightgray);
  color: var(--dl-color-red-sb_lightgray);
  display: inline-block;
  font-size: 1em;
  font-style: normal;
  font-family: "Alegreya Sans SC";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.form-text186 {
  fill: var(--dl-color-red-sb_lightgray);
  color: var(--dl-color-red-sb_lightgray);
  display: inline-block;
  font-size: 1em;
  font-style: normal;
  font-family: "Alegreya Sans SC";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.form-text189 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
  font-size: 1em;
  font-style: normal;
  font-family: "Alegreya Sans SC";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.form-text192 {
  display: inline-block;
  margin-left: var(--dl-space-space-quarterunit);
}
.form-text195 {
  display: inline-block;
  margin-left: var(--dl-space-space-quarterunit);
}
.form-text196 {
  display: inline-block;
  margin-left: var(--dl-space-space-quarterunit);
}
.form-text197 {
  fill: var(--dl-color-red-sb_lightgray);
  color: var(--dl-color-red-sb_lightgray);
  display: inline-block;
  font-size: 1em;
  font-style: normal;
  font-family: "Alegreya Sans SC";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.form-text200 {
  display: inline-block;
  margin-left: var(--dl-space-space-quarterunit);
}
.form-text201 {
  display: inline-block;
  margin-left: var(--dl-space-space-quarterunit);
}
.form-text202 {
  fill: var(--dl-color-red-sb_lightgray);
  color: var(--dl-color-red-sb_lightgray);
  display: inline-block;
  font-size: 1em;
  font-style: normal;
  font-family: "Alegreya Sans SC";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.form-text205 {
  display: inline-block;
  margin-left: var(--dl-space-space-quarterunit);
}
.form-text206 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
  font-size: 1em;
  font-style: normal;
  font-family: "Alegreya Sans SC";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.form-text209 {
  display: inline-block;
  margin-left: var(--dl-space-space-quarterunit);
}
.form-text210 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
  font-size: 1em;
  font-style: normal;
  font-family: "Alegreya Sans SC";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.form-text213 {
  fill: var(--dl-color-red-sb_lightgray);
  color: var(--dl-color-red-sb_lightgray);
  display: inline-block;
  font-size: 1em;
  font-style: normal;
  font-family: "Alegreya Sans SC";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.form-text216 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
  font-size: 1em;
  font-style: normal;
  font-family: "Alegreya Sans SC";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.form-text219 {
  display: inline-block;
  margin-left: var(--dl-space-space-quarterunit);
}
.form-text220 {
  display: inline-block;
  margin-left: var(--dl-space-space-quarterunit);
}
.form-text221 {
  display: inline-block;
  margin-left: var(--dl-space-space-quarterunit);
}
.form-text222 {
  display: inline-block;
  margin-left: var(--dl-space-space-quarterunit);
}
.form-text225 {
  fill: var(--dl-color-red-sb_lightgray);
  color: var(--dl-color-red-sb_lightgray);
  display: inline-block;
  font-size: 1em;
  font-style: normal;
  font-family: "Alegreya Sans SC";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.form-text228 {
  display: inline-block;
  margin-left: var(--dl-space-space-quarterunit);
}
.form-text231 {
  display: inline-block;
  margin-left: var(--dl-space-space-quarterunit);
}
.form-text232 {
  fill: var(--dl-color-red-sb_lightgray);
  color: var(--dl-color-red-sb_lightgray);
  display: inline-block;
  font-size: 1em;
  font-style: normal;
  font-family: "Alegreya Sans SC";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.form-text235 {
  display: inline-block;
  margin-left: var(--dl-space-space-quarterunit);
}
.form-text236 {
  fill: var(--dl-color-red-sb_lightgray);
  color: var(--dl-color-red-sb_lightgray);
  display: inline-block;
  font-size: 1em;
  font-style: normal;
  font-family: "Alegreya Sans SC";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.form-text239 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
  font-size: 1em;
  font-style: normal;
  font-family: "Alegreya Sans SC";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.form-root-class-name {
  margin-bottom: 0px;
}
.form-root-class-name1 {
  margin-bottom: 0px;
}
