.not-found-container {
  width: 70%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-size: contain;
  justify-content: center;
  background-image: url("/image_2024-07-27_042305283-1500w.png");
  background-repeat: no-repeat;
  background-position: center;
}
.not-found-max-width {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  max-width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  background-color: rgba(255, 255, 255, 0.81);
}
.not-found-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.not-found-text {
  font-size: 3em;
  text-align: center;
  font-family: "Courier New";
}
.not-found-text1 {
  text-align: center;
  font-family: "Courier New";
  text-transform: uppercase;
}
.not-found-text2 {
  font-style: normal;
  font-weight: 700;
}
.not-found-button {
  margin: var(--dl-space-space-twounits);
  border-width: 0px;
  text-decoration: none;
  background-color: var(--dl-color-theme-neutral-dark);
}
.not-found-action1 {
  font-style: normal;
  font-weight: 700;
}
.not-found-text3 {
  display: inline-block;
  text-align: center;
  font-family: "Courier New";
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.not-found-text4 {
  display: inline-block;
  font-family: "Courier New";
  text-transform: uppercase;
}
.not-found-root-class-name {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 70%;
  height: 70%;
  display: none;
  margin-top: var(--dl-space-space-threeunits);
}
@media(max-width: 991px) {
  .not-found-container {
    background-size: contain;
  }
}
@media(max-width: 767px) {
  .not-found-container {
    background-size: auto;
    background-image: unset;
  }
  .not-found-max-width {
    align-items: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    background-color: unset;
  }
  .not-found-text3 {
    text-align: center;
  }
}
@media(max-width: 479px) {
  .not-found-max-width {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
}
